.container{
  position: sticky;
  top: 40px;
}

.logout {
  display: flex; /* Equivalent to flex */
  align-items: center; /* Equivalent to items-center */
  gap: 0.5rem; /* Equivalent to gap-2 */
  font-weight: bold; /* Equivalent to font-light */
  padding: 0.75rem 1rem; /* Equivalent to px-3, py-2 */
  cursor: pointer; /* Not directly translatable */
  text-decoration: none; /* Not directly translatable */
  color: red;
  font-size: large;
}

.logout:hover {
  background-color: #2e374a; /* Equivalent to hover:bg-neutral-700 */
  text-decoration: none; /* Equivalent to hover:no-underline */
  border-radius: 10px;
}

.logout:active {
  background-color: #2D3748; /* Equivalent to active:bg-neutral-600 */
}

.logout.rounded-sm {
  border-radius: 0.125rem; /* Equivalent to rounded-sm */
}

.logout.text-base {
  font-size: 1rem; /* Equivalent to text-base */
}
